body{
background-color: #F06292;
}
.help{
background-color:var(--yellow-50);
border-radius:10px;
display: flex;
width:600px;
justify-content:space-evenly;
flex-direction:row;
align-items: center;
}
.sub{
font-size:20px;
}
